.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid #f9f9f9;
}
.header__image {
  height: 70px;
  object-fit: contain;
  text-align: center;
}
.header .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px #ad8a8a4d !important;
}
